/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body{
    background-color: rgb(245, 240, 240);
    margin: 0; /* Eliminar márgenes predeterminados del body */
    padding: 0; /* Eliminar relleno predeterminado del body */
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    margin: 0 auto;
    width: 100%; /* Cambiar el ancho al 100% para que coincida con el body */
    max-width: 87.5rem;
    height: 100%;
    max-height: 56.25rem;
    justify-content: center;
    margin: 0; /* Eliminar márgenes predeterminados del body */
    padding: 0
}
.container-fluid{
    height: 100%;
    max-height: 33.75rem;
    background-color: blueviolet;
}
.navbar{
    background-color: blue;
    width: 100%; /* Cambiar el ancho al 100% para que coincida con el body */
    max-width: 87.5rem;
    height: 100%;
    max-height: 5.625rem;
    margin: 0; /* Eliminar márgenes predeterminados del body */
    padding: 0;
    
}
.jumbotron{
    background-color: aqua;
    width: 100%; /* Cambiar el ancho al 100% para que coincida con el body */
    max-width: 87.5rem;
    height: 100%;
    max-height: 22.5rem;
    margin: 0; /* Eliminar márgenes predeterminados del body */
    padding: 0;
    align-items: center;
    
}
img{
    width: 100%; /* Cambiar el ancho al 100% para que coincida con el body */
    max-width: 87.5rem;
    height: 100%;
    max-height: 22.5rem;
}
.lowerView{
    display: flexbox;
    background-color: bisque;
    width: 100%; /* Cambiar el ancho al 100% para que coincida con el body */
    max-width: 87.5rem;
    height: 100%;
    max-height: 22.5rem;
    margin: 0; /* Eliminar márgenes predeterminados del body */
    padding: 0;
}
.footer{
    background-color: gold;
    width: 100%; /* Cambiar el ancho al 100% para que coincida con el body */
    max-width: 87.5rem;
    height: 100%;
    max-height: 5.625rem;
    margin: 0; /* Eliminar márgenes predeterminados del body */
    padding: 0;
}
.containerSecond{
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%; /* Cambiar el ancho al 100% para que coincida con el body */
    max-width: 87.5rem;
    justify-content: center;
    margin: 0; /* Eliminar márgenes predeterminados del body */
    padding: 0
}
.selectView{
    background-color: rgb(60, 164, 248);
    width: 100%; /* Cambiar el ancho al 100% para que coincida con el body */
    max-width: 87.5rem;
    height: 100%;
    max-height: 22.5rem;
    justify-content: center;
    align-items: center;
}
.nav-tabs {
    border-bottom: none;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
}
.row-professional {
    height: 40px;
    margin-bottom: 5px;
}